.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-4 {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
  text-decoration: none;
  color: white;


}
.mt-4:hover {
  background-color: #61dafb;
  color: #282c34;
  border-color: #61dafb;
}

/* Active link style */
.mt-4:active {
  background-color: white;
  color: #1b4332; /* Deep green to match bg-green-800 */
  border-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}